.next-button {
  width: 48px;
  height: 48px;
  color: #030407;
  background-color: #fff;
  border: 1px solid #ebebef;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  display: flex;
  top: auto;
  bottom: 0%;
  left: 60px;
  right: auto;
}

.next-button:disabled {
  color: #d6d7e0;
}

.next-button:hover:not([disabled]) {
  background-color: #ebebef;
}

.next-button:active:not([disabled]) {
  background-color: #ccc;
}
